.wrapper-soal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button.btn.btn-soal{
    width: 60px;
    height: 60px;
    font-size: 13px;
}

/* Pilgan */

label {
    width: 100%;
}

.card.card-default{
    border-radius: 8px;
}

.card-input-element {
    display: none;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     border: 1px solid #2ecc71;
     background-color: #E2FFF7;
}

/* Checkbox */

label {
    width: 100%;
}

.card.card-default-2{
    border-radius: 8px;
}

.card-input-element-2 {
    display: none;
}

.card-input-2:hover {
    cursor: pointer;
}

.card-input-element-2:checked + .card-input-2 {
     border: 1px solid #2ecc71;
     background-color: #E2FFF7;
}