.wrapper-tugas iframe{
    width: 100%;
    height: 500px;
}

.document-tugas{
    width: 350px !important;
}

.document-tugas-kumpulkan{
    width: 320px !important;
}

@media only screen and (max-width: 600px) {
    .document-tugas{
        width: 275px !important;
    }

    .document-tugas-kumpulkan{
        width: 225px !important;
    }
}