.ps-21{
    padding-left: 5.25rem;
}
.ps-22{
    padding-left: 5.5rem;
}
.ps-23{
    padding-left: 5.75rem;
}
.ps-24{
    padding-left: 6rem;
}
.ps-25{
    padding-left: 6.25rem;
}

.telepon-input{
    background-color: #dcdcdc; 
    border-radius:0.475rem 0 0 0.475rem  ;
}